<div class="row">
    <div class="col d-flex justify-content-center">
        <h3 class="mb-3 slogan">shorter task-ing, longer life-ing</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="div" *ngFor="let item of valueInMain; index as i">
                <!-- <h5 (click)="passIndex(i)">{{item}}</h5> -->
                <hr>
                <div class="form-check pl-0">
                    <input class="form-check-input" type="checkbox" (click)="passIndex(i)">
                    <label class="form-check-label task" for="flexCheckChecked" (click)="passIndex(i)">
                        {{item}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>