/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(20, 31, 43);
    color: white;
    padding: 25px;
    /* max-width: 600px; */
}

hr {
    border-color: turquoise;
}

a {
    color: turquoise;
}

.turquoise {
    background-color: turquoise
}